.navbar-default {
  background: #4195d0;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}
.navbar-default .navbar-toggle {
  background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fff;
}
.logo {
  max-height: 46px;
  margin: 8px 15px;
}
.navbar-toggle {
  margin-top: 14px;
  margin-bottom: 14px;
}
// media queries\

@media (min-width: 768px) {

  .navbar-default {
    background: transparent;
  }

  .navbar-default .navbar-nav>li>a {
    text-align: right;
  }
  .navbar-nav>li>a {
    padding: 23px 10px 19px;
  }
  .logo {
    margin-left: 0;
  }
}

@media (min-width: 1024px) {
  .navbar-nav>li>a {
    padding-left:15px;
    padding-right: 15px;
  }
}
@media (min-width: 1400px) {
  .navbar-nav>li>a {
    padding-left:20px;
    padding-right: 20px;
  }
}
