//Import font from google server
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&subset=latin-ext');

//Breakpoints
$XS: 'screen and (min-width: 480px)';
$S: 'screen and (min-width: 768px)';
$M:'screen and (min-width: 922px)';
$L:'screen and (min-width:1024px)';
$XL: 'screen and (min-width:1200px)';
